h1 {
  font-size: 50px;
  font-style: italic;
  margin: 10px;
}

form {
  font-size: 20px;
  font-weight: bolder;
}

button {
  border-radius: 0.2rem;
}

body {
  text-align: center;
}

.completed {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: line-through wavy 2px;
}
.data-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
#task-list {
  border: 3px solid gray;
  border-radius: 2rem;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}

ul {
  list-style: none;
}
