h1 {
  font-size: 50px;
  font-style: italic;
  margin: 10px;
}

select {
  font-size: 20px;
}

input {
  font-size: 20px;
}

form {
  font-size: 25px;
  font-weight: bolder;
}

button {
  border-radius: 0.5rem;
  font-size: 20px;
}

body {
  text-align: center;
}

.data-row {
  display: grid;
  grid-template-columns: 1fr 100px 190px 90px;
  padding: 5px;
  gap: 10px;
  justify-content: center;
}

.data-header {
  font-size: 25px;
  border-bottom: 5px solid grey;
}

.completed {
  span {
    text-decoration: line-through;
  }
}
#task-list {
  font-size: 20px;
  border: 3px solid gray;
  border-radius: 2rem;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}
